#site_title {
    font-size: $font_size_title;
    font-weight: $font_weight_bold;
}

#nav_toggle {
    background-color: var(--primary);
}

.bg-dark {
    background-color: var(--primary);
    font-weight: 800;
}

.toggle_link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: $font_weight_semibold;

    &:hover {
        color: var(--text-color);
        text-decoration: underline;
    }
}

@include media-breakpoint-up(xs) {
    #site_title {
        font-size: 11px;
    }

    .fa-moon {
        font-size: 14px;
    }

    .toggle_link {
        font-size: 12px;
    }
}

@include media-breakpoint-up(lg) {
    .fa-moon {
        font-size: 14px;
    }

    .toggle_link {
        font-size: 18px;
    }
}
