#site_title {
    font-size: $font_size_title;
    font-weight: $font_weight_bold;

    &:hover {
        color: var(--subtle);
    }
}

#nav_toggle {
    background-color: var(--primary);
}

.toggle_link {
    color: var(--text-color);
    font-weight: $font_weight_semibold;

    &:hover {
        color: var(--subtle);
    }
}

@include media-breakpoint-up(xs) {
    #site_title {
        font-size: 14px !important;
    }

    .fa-moon {
        font-size: 12px;
    }

    .toggle_link {
        font-size: 12px;
    }
}

@include media-breakpoint-up(lg) {
    #site_title {
        font-size: $font_size_title !important;
    }

    .fa-moon {
        font-size: 20px;
    }

    .toggle_link {
        font-size: 20px;
    }
}
