.card {
    @extend %colors;

    font-size: $font_size_detail;

    .card-title {
        @extend %title;
    }

    .card_bold {
        @extend %subtitle;
    }

    .card-text {
        margin-bottom: 0.5rem;
    }
}

@include media-breakpoint-up(xs) {
    .card {
        margin: 0 10px;

        .card-img-top {
            width: 100%;
            min-height: 25vh;
            object-fit: cover;
        }
    }
}

@include media-breakpoint-up(lg) {
    .card {
        .card-img-top {
            width: 100%;
            min-width: 20vw;
            min-height: 25vh;
            max-height: 25vh;
            object-fit: cover;
        }
    }
}
