.details {
    font-size: $font_size_detail;

    #details_title {
        @extend %title;
    }

    .details_bold {
        font-weight: $font_weight_semibold;
        margin-right: 7px;
    }
}

@include media-breakpoint-up(xs) {
    .details_flag {
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }
}

@include media-breakpoint-up(lg) {
    .details_flag {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
}
