.details {
    font-size: $font_size_detail;

    .details_bold {
        font-weight: $font_weight_semibold;
        margin-right: 7px;
    }

    p {
        margin: 10px 0px;
    }

    #details_title {
        @extend %title;
    }

    a {
        text-decoration: none;
        color: var(--text-color);
    }

    .badge {
        &.rounded-pill {
            background-color: var(--primary);
            border-color: var(--primary);
            margin-right: 10px;

            &:hover {
                background-color: var(--primary);
                border-color: var(--primary);
                color: var(--text-color);
            }
        }
    }
}

@include media-breakpoint-up(xs) {
    .details_flag {
        width: 93%;
        height: 30vh;
        object-fit: cover;
    }
}

@include media-breakpoint-up(lg) {
    .details_flag {
        width: 95%;
        height: 60vh;
        object-fit: cover;
    }
}
