#select {
    background-color: var(--primary);
    color: var(--muted);
    border-color: var(--primary);
    font-size: $font_size_home;
    font-weight: $font_weight_semibold;
}

.input-group-text {
    border-color: var(--primary);
}

#search_icon {
    background-color: var(--primary);
    color: var(--subtle);
}

#search_input {
    background-color: var(--primary);
    border-color: var(--primary);
    font-size: $font_size_home;
    border-left: none;
    // color: var(--text-color);

    &::placeholder {
        // color: var(--subtle);
    }
}

// .light {
//     #search_input {
//         background-color: $lightmode_elements;
//         border-color: $lightmode_elements;
//     }
// }
// .dark {
//     #search_input {
//         background-color: $darkmode_elements;
//         border-color: $darkmode_elements;
//     }

//     .form-control {
//         background-color: $darkmode_elements;
//         border-color: $darkmode_elements;
//     }
// }

// .form-control {
//     background-color: $darkmode_elements;
//     border-color: $darkmode_elements;
// }

// .input-group-text {
//     border-color: $darkmode_elements;
// }

// #search_icon {
//     background-color: $darkmode_elements;
//     color: $darkmode_text;
// }

// #search_input {
//     &::placeholder {
//         color: $darkmode_text;
//     }
// }

// #select {
//     background-color: $darkmode_elements;
//     color: $darkmode_text;
//     border-color: $darkmode_elements;
// }
// }
