@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';

html {
    overflow-y: auto;
    overflow-x: hidden;
}

html,
body {
    height: 100vh;
    overflow-y: auto;
}
