@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';

html {
    overflow-y: auto;
    overflow-x: hidden;
    font-size: $font_size_home;
}

html,
body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--text-color);
}
