@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body {
    font-family: $font_family;
    background-color: $lightmode_bg;
}

.light {
    .btn-secondary {
        @extend %light_btns;
    }

    #search_icon {
        background-color: $lightmode_bg;
        color: $lightmode_input;
    }
}

.dark {
    background-color: $darkmode_bg;

    .btn-secondary {
        @extend %dark_btns;
    }

    #search_icon {
        background-color: $darkmode_elements;
        color: $darkmode_text;
    }
}

@include media-breakpoint-up(xs) {
    #site_title {
        font-size: 16px !important;
    }

    .details_flag {
        width: 100%;
        height: 35vh;
        object-fit: cover;
    }
}

@include media-breakpoint-up(lg) {
    #site_title {
        font-size: $font_size_title !important;
    }

    .details_flag {
        width: 100%;
        height: 55vh;
        object-fit: cover;
    }
}
