// Dark to light
$lightmode_text: hsl(200, 15%, 8%);
$darkmode_bg: hsl(207, 26%, 17%);
$darkmode_elements: hsl(208, 23%, 22%);
$lightmode_input: hsl(0, 0%, 52%);
$lightmode_bg: hsl(0, 0%, 98%);
$darkmode_text: hsl(0, 0%, 100%);
$lightmode_elements: hsl(0, 0%, 100%);

// Text
$font_family: 'Nunito Sans', sans-serif;

$font_size_home: 14px;
$font_size_detail: 16px;
$font_size_title: 24px;
$font_size_nav: 36px;

$font_weight_reg: 300;
$font_weight_semibold: 600;
$font_weight_bold: 800;

$line_height_base: 1.6;
$line_height_title: 1.1;

// Mobile
$page-padding-mobile: 10px;
