@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

html {
    overflow-y: auto;
    overflow-x: hidden;
}

html,
body {
    height: 100vh;
    overflow-y: auto;
}

body {
    font-family: $font_family;
    background-color: $lightmode_bg;

    &.dark {
        background-color: $darkmode_bg;

        .btn-secondary {
            @extend %dark_btns;
        }

        #search_icon {
            background-color: $darkmode_elements;
            color: $darkmode_text;
        }
    }

    &.light {
        background-color: $lightmode_bg;

        .btn-secondary {
            @extend %light_btns;
        }

        #search_icon {
            background-color: $lightmode_bg;
            color: $lightmode_input;
        }
    }
}

@include media-breakpoint-up(xs) {
    #site_title {
        font-size: 16px !important;
    }
}

@include media-breakpoint-up(lg) {
    #site_title {
        font-size: $font_size_title !important;
    }
}
