html {
    overflow-y: auto;
    overflow-x: hidden;
}

html,
body {
    height: 100vh;
    overflow-y: auto;
}

body {
    font-family: $font_family;
    background-color: $lightmode_bg;

    &.light {
        @include change_colors('light');
    }

    &.dark {
        @include change_colors('dark');
    }
}

// #copyright {
//     &:hover {
//         // color: $secondary_light;
//         text-decoration: none;
//     }
// }
