html {
    overflow-y: auto;
    overflow-x: hidden;
}

html,
body {
    height: 100vh;
    overflow-y: auto;
}

body {
    font-family: $font_family;
    background-color: $lightmode_bg;

    &.dark {
        background-color: $darkmode_bg;

        .btn-secondary {
            @extend %dark_btns;
        }
    }

    &.light {
        background-color: $lightmode_bg;

        .btn-secondary {
            @extend %light_btns;
        }
    }
}

// #copyright {
//     &:hover {
//         // color: $secondary_light;
//         text-decoration: none;
//     }
// }
