body {
    &.dark {
        .card {
            background-color: $darkmode_elements;
            color: darkmode_text;

            .card-title {
                @extend %dark_title;
            }

            .card-text {
                margin: 0;
                padding: 0;
            }
        }
    }

    &.light {
        .card {
            background-color: $lightmode_elements;
            color: lightmode_text;

            .card-title {
                @extend %light_title;
            }

            .card-text {
                margin: 0;
                padding: 0;
            }
        }
    }
}

.card_bold {
    @extend %dark_subtitle;
}
