body {
    &.dark {
        #details_title {
            @extend %dark_title;
        }

        a {
            text-decoration: none;
            color: $darkmode_text;
        }

        .details_btn {
            background-color: $darkmode_elements;
            border-color: $darkmode_elements;
            color: $darkmode_text;
            margin: 10px 10px 0px 0px;

            &:hover {
                color: $lightmode_text;
                background-color: $lightmode_elements;
                border-color: $lightmode_elements;
                border: 1px solid $darkmode_elements;
            }
        }

        .badge {
            &.rounded-pill {
                background-color: $darkmode_elements;
                border-color: $darkmode_elements;
                margin-right: 10px;

                &:hover {
                    background-color: $darkmode_elements;
                    border-color: $lightmode_elements;
                    color: $lightmode_text;
                }
            }
        }
    }

    &.light {
        #details_title {
            @extend %light_title;
        }

        a {
            text-decoration: none;
            color: $lightmode_input;
        }

        .details_btn {
            background-color: $darkmode_elements;
            border-color: $darkmode_elements;
            color: $darkmode_text;
            margin: 10px 10px 0px 0px;

            &:hover {
                color: $lightmode_text;
                background-color: $lightmode_elements;
                border-color: $lightmode_elements;
                border: 1px solid $darkmode_elements;
            }
        }

        .badge {
            &.rounded-pill {
                background-color: $darkmode_elements;
                border-color: $darkmode_elements;
                margin-right: 10px;

                &:hover {
                    background-color: $lightmode_elements;
                    border-color: $lightmode_elements;
                    color: $lightmode_text;
                }
            }
        }
    }
}

.details {
    font-size: $font_size_detail;

    .details_bold {
        font-weight: $font_weight_semibold;
        margin-right: 7px;
    }

    p {
        margin: 10px 0px;
    }

    .detail_flag {
        // width: 100%;
        // height: 15vw;
        // object-fit: cover;
    }
}
