.navbar-dark {
    background-color: $darkmode_bg;
}

.bg-dark {
    background-color: $darkmode_bg;
}

.navbar-light {
    background-color: $lightmode_elements;
}

.bg-light {
    background-color: $lightmode_bg;
}

.navbar-brand {
    @extend %title_text;
}

.toggle_link {
    text-decoration: none;
    color: $lightmode_text;
    font-size: $font_size_home;
    font-weight: $font_weight_semibold;
}
