body {
    &.dark {
        .navbar-dark {
            background-color: $darkmode_bg;
        }

        .bg-dark {
            background-color: $darkmode_bg;
        }

        .navbar-brand {
            font-size: $font_size_title;
            font-weight: $font_weight_semibold;
        }

        .toggle_link {
            text-decoration: none;
            color: $darkmode_text;
            font-size: $font_size_home;
            font-weight: $font_weight_semibold;

            &:hover {
                color: $darkmode_text;
                text-decoration: underline;
            }
        }
    }

    &.light {
        .navbar-light {
            background-color: $lightmode_elements;
        }

        .bg-light {
            background-color: $lightmode_elements;
        }

        .navbar-brand {
            font-size: $font_size_title;
            font-weight: $font_weight_semibold;
        }

        .toggle_link {
            text-decoration: none;
            color: $lightmode_text;
            font-size: $font_size_home;
            font-weight: $font_weight_semibold;

            &:hover {
                color: $lightmode_text;
                text-decoration: underline;
            }
        }
    }
}

// .navbar-light {
//     background-color: $lightmode_bg;
//     color: $lightmode_bg;
// }

// .navbar-dark {
//     background-color: $darkmode_bg;
//     color: $darkmode_bg;
// }

// .bg-light {
//     background-color: $lightmode_bg;
// }

// .bg-dark {
//     background-color: $darkmode_bg;
// }
