.light {
    .navbar-light {
        background-color: $lightmode_elements;
    }

    .bg-light {
        background-color: $lightmode_elements;
    }

    .navbar-brand {
        font-size: $font_size_title;
        font-weight: $font_weight_semibold;
    }

    .toggle_link {
        text-decoration: none;
        color: $lightmode_text;
        font-size: $font_size_home;
        font-weight: $font_weight_semibold;

        &:hover {
            color: $lightmode_text;
            text-decoration: underline;
        }
    }

    option {
        background-color: red;
    }
}

.dark {
    .navbar-dark {
        background-color: $darkmode_elements;
    }

    .bg-dark {
        background-color: $darkmode_elements;
        font-weight: 800;
    }

    .toggle_link {
        text-decoration: none;
        color: $darkmode_text;
        font-size: $font_size_home;
        font-weight: $font_weight_semibold;

        &:hover {
            color: $darkmode_text;
            text-decoration: underline;
        }
    }
}

#site_title {
    font-size: $font_size_title;
    font-weight: $font_weight_bold;
}
