$colors: (
    dark_bg: hsl(207, 26%, 17%),
    dark_elements: hsl(209, 23%, 22%),
    dark_text: hsl(0, 0%, 100%),
    light_bg: hsl(0, 0%, 98%),
    light_elements: hsl(0, 0%, 100%),
    light_text: hsl(200, 15%, 8%),
    light_input: hsl(0, 0%, 52%),
);

@mixin change_colors($light_or_dark) {
    background-color: map-get($colors, $light_or_dark + '_bg');
    color: map-get($colors, $light_or_dark + '_text');

    .navbar-#{light_or_dark} {
        background-color: map-get($colors, $light_or_dark + '_bg');
        color: map-get($colors, $light_or_dark + '_text');
    }

    .bg-#{light_or_dark} {
        background-color: map-get($colors, $light_or_dark + '_bg');
    }

    .card {
        background-color: map-get($colors, $light_or_dark + '_bg');
        color: map-get($colors, $light_or_dark + '_text');

        .card-title {
            color: map-get($colors, $light_or_dark + '_text');
            font-weight: $font_weight_bold;
        }

        .card-text {
            margin: 0;
            padding: 0;
        }
    }

    // .navbar-brand {
    //     font-size: $font_size_title;
    //     font-weight: $font_weight_semibold;
    // }

    // .details {
    //     font-size: $font_size_detail;
    // }

    @if ($light_or_dark == 'light') {
        .toggle_link {
            text-decoration: none;
            color: $lightmode_text;
            font-size: $font_size_home;
            font-weight: $font_weight_semibold;
            &:hover {
                color: $lightmode_text;
                text-decoration: underline;
            }
        }
    } @else {
        .toggle_link {
            text-decoration: none;
            color: $darkmode_text;
            font-size: $font_size_home;
            font-weight: $font_weight_semibold;
            &:hover {
                color: $darkmode_text;
                text-decoration: underline;
            }
        }
    }

    // .form-control {
    //     background-color: map-get($colors, $light_or_dark + '_element');
    // }

    // #search_input::placeholder {
    //     color: map-get($colors, $light_or_dark + '_text');
    //     font-size: $font_size_home;
    // }
}
